* {
  box-sizing: border-box;
}
figure {
  margin: 0em;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
}
span {
  color: inherit;
}
p,
li,
a {
  font-family: var(--main-font);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 127rem;
  margin-left: auto;
  margin-right: auto;
}