.mainNuestroCompromiso{
    display: flex;
    padding-top: 10rem;
    font-family: $main-font;
    &__items{
        & h1{
            letter-spacing: 0.1rem;
            font-weight: 300;
        }
        & p{
            color: $color-fondohover;
            font-size: 1.6rem;
        }
        &:first-child{
            width: 50%;
        }
        & a{
            display: inline-block;
            margin-top: 2rem;
            font-size: 1.4rem;
        }

    }
}